/* memo.css - CSS */
@charset "utf-8";

/*---------------------------------------------------------------------------*
 *
 * Page
 *
 *---------------------------------------------------------------------------*/

body.mwg-standard-layout {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 45em;
  text-align: justify;
}

dfn {
  font-weight: bold;
  font-style: normal;
}
em {
  text-decoration: underline;
  font-style: normal;
}
code {
  background-color: #eee;
  padding: 0.3ex;
}

@media print {
  body.mwg-standard-layout {
    font-family: serif;
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }

  dfn {
    font-weight: normal;
    font-family: sans-serif;
  }
}

/*---------------------------------------------------------------------------*
 *
 * Navigator
 *
 *---------------------------------------------------------------------------*/

nav span.mwg-nav-here {
  font-weight: bold;
}

@media print {
  nav {
    display: none;
  }
}

/*---------------------------------------------------------------------------*
 *
 * Headings
 *
 *---------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: Times, Times New Roman, sans-serif; /* 日本語はサンセリフの方が良さそう "Yu Mincho", YuMincho, sans-serif; */
  font-weight: bold;
}


aside.mwg-aside-caution {
  border: 1px solid red;
  padding-left: 1em;
  padding-right: 1em;
}

p.mwg-footnote {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 85%;
}

pre.mwg-console {
  border: 1px solid gray;
  padding: 1em;
}

address.mwg-address>p {
  margin: 0;
  text-align: center;
}

div.mwg-note {
  border: 1px solid black;
  padding: 0.5em;
}
p.mwg-framed {
  border: 1px solid black;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}
